$start_animation_time: 250ms;
$animation_time: 100ms;


#more-info {
    position: fixed;
    display: inline-block;

    left: 50%;
    bottom: 3px;
    z-index: 100;

    transform: translateX(-50%);

    padding: 0 0 .25em;
    font-size: 1.6em;
    font-family: 'Galyon Bold Bold';

    cursor: pointer;

    span {
        font-family: 'Galyon Regular Regular';
        color: #000;

        &:hover {
            text-decoration: underline;
        }
    }

    &.start-fadein {
        animation-name: fadein;
        animation-duration: $start_animation_time;
        animation-timing-function: ease-in-out;
    }

    &.fadein {
        animation-name: fadein;
        animation-duration: $animation_time;
        animation-timing-function: ease-in-out;
    }

    &.fadeout {
        animation-name: fadeout;
        animation-duration: $animation_time;
        animation-timing-function: ease-in-out;
    }

    &.hidden {
        display: none;
    }
}

@keyframes fadein {
    0%   {
        transform: translateX(-50%) rotate3d(.8, 0, 0, 90deg);
    }
    100% {
        transform: translateX(-50%) rotate3d(1, 0, 0, 0);
    }
}

@keyframes fadeout {
    0%   {
        transform: translateX(-50%) rotate3d(1, 0, 0, 0);
    }
    100% {
        transform: translateX(-50%) rotate3d(-.8, 0, 0, 90deg);
    }
}