$animation_time: 100ms;

.container {
  margin: auto;
  position: relative;

  width: 950px;
  height: 100vh;

  z-index: 100;
  overflow: auto;

  display: block;

  &.hidden {
    display: none;
  }


  &.fadein > .info-card {
    animation-name: more-info-fadein;
    animation-duration: $animation_time;
    animation-timing-function: ease-in-out;
  }
  
  &.fadeout > .info-card {
    animation-name: more-info-fadeout;
    animation-duration: $animation_time;
    animation-timing-function: ease-in-out;
  }
}

.info-card {
  padding: 15px 20px;
  display: block;

  

  z-index: 100;

  margin: 30px 105px;

  &:first-child {
    margin-top: 150px;
  }

  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 16px 0px rgba(232,232,232,0.5);

  h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0 0 8px 0;

    text-transform: uppercase;

    font-family: 'Galyon Bold Bold';
  }

  span {
    font-family: 'Galyon Regular Regular';
  }

  img {
    width: 90%;
    margin: 16px auto;
    display: block;

    border-radius: 3px;
  }
}

@keyframes more-info-fadeout {
  0%   {
      transform: rotate3d(.8, 0, 0, 90deg);
  }
  100% {
      transform: rotate3d(1, 0, 0, 0);
  }
}

@keyframes more-info-fadein {
  0%   {
      transform: rotate3d(1, 0, 0, 0);
  }
  100% {
      transform: rotate3d(-.8, 0, 0, 90deg);
  }
}

@media screen and (max-width: 950px) {
  .container {
    width: 100%;
  }

  .info-card {
    margin-left: 40px;
    margin-right: 90px;
  }
}

@media screen and (max-width: 600px) {
  .info-card {
    margin-left: 40px;

    &:first-child {
      margin-top: 100px;
    }
  }
}