<div class="container"
  [class.idle]="this.state == 'idle'"
  [class.start-fadein]="this.state == 'start-fadein'"
  [class.fadein]="this.state == 'fadein'"
  [class.fadeout]="this.state == 'fadeout'"
  [class.hidden]="this.state == 'hidden'"
>

<div class="info-card"  *ngFor='let card of cards'>
  <ng-container
    [ngTemplateOutlet]="card['type'] == 'text' ? cardtext : cardimage"
    [ngTemplateOutletContext]="{card: card}"
  ></ng-container>
</div>

<ng-template #cardtext let-card='card'>
  <h2 *ngIf="card.title !== null">{{ card.title }}</h2>
  <span *ngIf="card.text !== null" [innerHTML]="card.text"></span>
</ng-template>

<ng-template #cardimage let-card='card'>
  <h2 *ngIf="card.title !== null">{{ card.title }}</h2>
  <img [src]="card.image" [alt]="card.image">
  <span class="img-description" *ngIf="card.description !== null" [innerHTML]="card.description"></span>
</ng-template>
