<div class="container"
  [class.idle]="this.state == 'idle'"
  [class.start-fadein]="this.state == 'start-fadein'"
  [class.fadein]="this.state == 'fadein'"
  [class.fadeout]="this.state == 'fadeout'"
  [class.hidden]="this.state == 'hidden'"
>
  <div class="info-card">
    <h3>Title goes here</h3>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sint autem molestiae necessitatibus dolorum. Quia ex repellendus in voluptates provident et voluptas animi possimus quas necessitatibus. At necessitatibus possimus tenetur!</span>
  </div>

  <div class="info-card">
    <h3>Title goes here #2</h3>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sint autem molestiae necessitatibus dolorum. Quia ex repellendus in voluptates provident et voluptas animi possimus quas necessitatibus. At necessitatibus possimus tenetur!</span>
  </div>
</div>