$animation_time: 250ms;

.project-info.wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 1000px;

    z-index: 120;
}

.project-info .header {
    -webkit-transition: $animation_time ease-in-out;
    -moz-transition: $animation_time ease-in-out;
    -o-transition: $animation_time ease-in-out;
    transition: $animation_time ease-in-out;
}

.project-info .header a {
    padding: 15px 20px;
    font-family: 'Galyon Bold Bold';
    font-weight: normal;
    display: block;
    cursor: pointer;
}

.project-info app-chevron {
    float: right;
    transform: rotate(0deg);

    -webkit-transition: $animation_time ease-in-out;
    -moz-transition: $animation_time ease-in-out;
    -o-transition: $animation_time ease-in-out;
    transition: $animation_time ease-in-out;
}

.project-info .header.open app-chevron {
    transform: rotate(180deg);
}

.project-info .content-wrapper {
    display: block;

    height: 0px;

    overflow-y: auto;

    -webkit-transition: $animation_time ease-in-out;
    -moz-transition: $animation_time ease-in-out;
    -o-transition: $animation_time ease-in-out;
    transition: $animation_time ease-in-out;
}

.project-info .content-wrapper.open {
    height: calc(90vh - 80px) !important;
}

.project-info .content {
    padding: 20px 20px;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;

        font-family: 'Galyon Bold Bold';
        font-weight: normal;
    }
}

.project-info.backdrop {
    display: none;

    &.open {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
    
        width: 100vw;
        height: 100vh;
    
        cursor: pointer;
    
        z-index: 110;
    }
}

@media screen and (max-width: 1000px) {
    .project-info.wrapper {
        width: 100%;
    }
}
