<app-scroll-info></app-scroll-info>

<div class="project-info wrapper">    
    <div class="header"
        (click)="toggleHeader()" 
        [ngStyle]="{'background-color': headerColour}" 
        [ngClass]="headerState">
        <a>
            <span class="more-info">Meer informatie over {{ projectName }}</span>
            <app-chevron class="chevron"></app-chevron>
        </a>
    </div>

    <div 
        class="content-wrapper"
        [ngStyle]="{'background-color': bodyColour}"
        [ngClass]="headerState">

        <div class="content" [innerHtml]="bodyHtml">
        </div>
    </div>
</div>

<div class="project-info backdrop" 
    [ngClass]="headerState"
    (click)="closeHeader()" 
></div>