<div class="wrapper">
    <div class="header"
        (click)="toggleHeader()" 
        [ngStyle]="{'background-color': headerColour}" 
        [ngClass]="headerState">
        <a class="no-scroll">
            <span class="more-info">Meer informatie over {{ projectName }}</span>
            <app-chevron class="chevron"></app-chevron>
        </a>
    </div>

    <div 
        class="content no-scroll"
        [ngStyle]="{'background-color': bodyColour}"
        [ngClass]="headerState">

    </div>
</div>