<div class="wrapper"> 
    <div *ngIf="isMobile === false; then scroll else swipe"></div>
</div>

<ng-template #scroll >
    <div class="scroll" [ngClass]="animationState">
        <svg viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Mouse</title>
            <desc>Created with Sketch.</desc>
            <g id="Mouse" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <path d="M50,4 C55.1631622,4.08795437 58.8298289,4.4212877 61,5 C64.75,6 70,9 72,11 C74,13 77.6447289,17.719277 80,24 C81,26.6666667 81.5,30.5 81.5,35.5" id="Path" stroke="#000000" stroke-width="7"></path>
                <path d="M19,4 C24.1631622,4.08795437 27.8298289,4.4212877 30,5 C33.75,6 39,9 41,11 C43,13 46.6447289,17.719277 49,24 C50,26.6666667 50.5,30.5 50.5,35.5" id="Path" stroke="#000000" stroke-width="7" transform="translate(34.750000, 19.750000) scale(-1, 1) translate(-34.750000, -19.750000) "></path>
                <path d="M50,65 C55.1631622,65.0879544 58.8298289,65.4212877 61,66 C64.75,67 70,70 72,72 C74,74 77.6447289,78.719277 80,85 C81,87.6666667 81.5,91.5 81.5,96.5" id="Path" stroke="#000000" stroke-width="7" transform="translate(65.750000, 80.750000) scale(1, -1) translate(-65.750000, -80.750000) "></path>
                <path d="M19,35.5 L19,68" id="Line" stroke="#000000" stroke-width="7" stroke-linecap="round"></path>
                <path d="M81.5,35.5 L81.5,65" id="Line" stroke="#000000" stroke-width="7" stroke-linecap="square"></path>
                <path d="M19,65 C24.1631622,65.0879544 27.8298289,65.4212877 30,66 C33.75,67 39,70 41,72 C43,74 46.6447289,78.719277 49,85 C50,87.6666667 50.5,91.5 50.5,96.5" id="Path" stroke="#000000" stroke-width="7" transform="translate(34.750000, 80.750000) scale(-1, -1) translate(-34.750000, -80.750000) "></path>
                <path d="M50,30.5 L50,43.5" id="scroll-wheel" stroke="#000000" stroke-width="7" stroke-linecap="round"></path>
            </g>
        </svg>
    
        <span>Scroll</span>
    </div>
</ng-template>

<ng-template #swipe>
    <div class="swipe" [ngClass]="animationState">
        <div class="svg-wrapper">
            <svg viewBox="0 0 95 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Swipe</title>
                <desc>Created with Sketch.</desc>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Arrow" transform="translate(-3.000000, -29.000000)" stroke="#000000" stroke-width="7">
                        <path d="M6.5,68 L24.5,50.5" id="Line" stroke-linecap="round" stroke-linejoin="round" transform="translate(15.500000, 59.000000) scale(-1, 1) translate(-15.500000, -59.000000) "></path>
                        <path d="M6.5,50 L24.5,32.5" id="Line" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M76.5,68 L94.5,50.5" id="Line" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M76.5,50 L94.5,32.5" id="Line" stroke-linecap="round" stroke-linejoin="round" transform="translate(85.500000, 41.000000) scale(-1, 1) translate(-85.500000, -41.000000) "></path>
                        <path d="M10.5,50 L87,50" id="Line-2" stroke-linecap="square"></path>
                    </g>
                </g>
            </svg>
        </div>

        <span>Swipe</span>
    </div>
</ng-template>