$animation_time: 100ms;

#less-info {
    position: fixed;

    top: 150px;
    left: calc(50% + 375px);

    z-index: 110;

    padding: 5px;
    border: 2px solid #000;

    border-radius: 100%;

    cursor: pointer;
    display: block;

    &.hidden {
        display: none;
    }

    &:hover {
        transform: scale(1.1);
    }

    &.fadein {
        animation-name: less-btn-fadein;
        animation-duration: $animation_time;
        animation-timing-function: ease-in-out;
}

    &.fadeout {
        animation-name: less-btn-fadeout;
        animation-duration: $animation_time;
        animation-timing-function: ease-in-out;
    }

    svg {
        display: block;
    }
}

@keyframes less-btn-fadeout {
    0%   {
        transform: rotate3d(.8, 0, 0, 90deg);
    }
    100% {
        transform: rotate3d(1, 0, 0, 0);
    }
}

@keyframes less-btn-fadein {
    0%   {
        transform: rotate3d(1, 0, 0, 0);
    }
    100% {
        transform: rotate3d(-.8, 0, 0, 90deg);
    }
}



@media screen and (max-width: 950px) {
    #less-info {
        top: 100px;
        left: auto;
        right: 40px;
    }
  }