.title {
    margin: 0;
    padding: 0;
    
    position: absolute;
    left: 100px;
    top: 50px;

    font-family: 'Galyon Bold Bold';
    font-weight: bold;

    text-transform: uppercase;

    font-size: 1.6em;

    z-index: 100;
}