$start_animation_time: 250ms;

.title {
    margin: 0;
    padding: 0;
    
    position: absolute;
    left: 100px;
    top: 50px;

    font-family: 'Galyon Bold Bold';
    font-weight: bold;

    text-transform: uppercase;

    font-size: 1.6em;

    z-index: 100;

    transform: rotate3d(1, 0, 0, 90deg);

    -webkit-transition: transform $start_animation_time ease-in-out;
    -moz-transition: transform $start_animation_time ease-in-out;
    -o-transition: transform $start_animation_time ease-in-out;
    transition: transform $start_animation_time ease-in-out;

    &.loaded {
        transform: rotate3d(0,0,0, 0deg);
    }

    &.small {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .title {
        left: 40px;
    }

    .title h1 {
        font-size: 80px;
    }
}

@media screen and (max-width: 400px) {
    
    .title {
        display: none;

        left: 30px;

        &.small {
            display: block;
        }
    }
}