$start_animation_time: 250ms;

.title {
    margin: 0;
    padding: 0;
    
    position: absolute;
    left: 100px;
    top: 50px;

    font-family: 'Galyon Bold Bold';
    font-weight: bold;

    text-transform: uppercase;

    font-size: 1.6em;

    z-index: 100;

    transform: rotate3d(1, 0, 0, 90deg);

    -webkit-transition: $start_animation_time ease-in-out;
    -moz-transition: $start_animation_time ease-in-out;
    -o-transition: $start_animation_time ease-in-out;
    transition: $start_animation_time ease-in-out;

    &.loaded {
        transform: rotate3d(0,0,0, 0deg);
    }
}