$start_animation_time: 250ms;
$animation_time: 100ms;

span.wrapper {
    position: absolute;
    display: block;

    right: 110px;

    z-index: 100;
    font-kerning: -10px;
    text-align: right;

    -webkit-transition: $start_animation_time ease-in-out;
    -moz-transition: $start_animation_time ease-in-out;
    -o-transition: $start_animation_time ease-in-out;
    transition: $start_animation_time ease-in-out;
}

.currentProject {
    cursor: pointer;

    font-family: 'Galyon Bold Bold';
    font-weight: normal;

    text-transform: uppercase;

    display: block;


    &:hover, &:focus {
        text-decoration: underline;
    }

    &.fadein {
        animation-name: social-btn-fadein;
        animation-duration: $animation_time;
        animation-timing-function: ease-in-out;
    }
    
    &.fadeout {
        animation-name: social-btn-fadeout;
        animation-duration: $animation_time;
        animation-timing-function: ease-in-out;
    }
    
    &.start-fadein {
        animation-name: lang-select-fadein;
        animation-duration: $start_animation_time;
        animation-timing-function: ease-in-out;
    }
    
    &.hidden {
        display: none;
    }

}


@keyframes lang-select-fadein {
    0%   {
        transform: rotate3d(.8, 0, 0, 90deg);
    }
    100% {
        transform: rotate3d(1, 0, 0, 0);
    }
  }
  
  @keyframes lang-select-fadeout {
    0%   {
        transform: rotate3d(1, 0, 0, 0);
    }
    100% {
        transform: rotate3d(-.8, 0, 0, 90deg);
    }
  }


@media screen and (max-width: 600px) {
    span.wrapper {
        right: 40px;
    }
    app-language-selector {

        top: 100px;
        right: 0px;
    }
}

@media screen and (max-width: 400px) {
    span.wrapper {
        right: 30px;
    }
}

@media screen and (max-width: 600px) {
    .currentProject {
        &.mobile-fadein {
            animation-name: social-btn-fadein;
            animation-duration: $animation_time;
            animation-timing-function: ease-in-out;
        }
        
        &.mobile-fadeout {
            animation-name: social-btn-fadeout;
            animation-duration: $animation_time;
            animation-timing-function: ease-in-out;
        }
        
        &.mobile-hidden {
            display: none;
        }
    }
}