/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Galyon Bold Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Galyon Bold Bold'), url('/assets/fonts/Galyon-Bold.woff') format('woff');
}