
<div class="title intro">
    <div class="outer-wrapper" [ngClass]="concatAnimationState">
        <div class="inner-wrapper" [ngClass]="concatAnimationState">
            <div class="first-title">
                <h1>{{ this.name }}</h1>
            </div>
            <div class="second-title"
                [@animationTextFadeIn]="angularAnimationState" 
                (@animationTextFadeIn.start)="onAnimationStart($event)"
                (@animationTextFadeIn.done)="onAnimationEnd($event)">
                <h1>{{ this.name }}</h1>
            </div>
        </div>
    </div>
</div>
