
$animation_time: 250ms;

.title {
    position: absolute;
    display: block;

    overflow: hidden; /* Fix mobile scrolling on chrome based browsers */

    top: 50%;
    transform: translateY(-50%);

    z-index: 100;

    left: 100px;
    width: calc(100vw - 100px);
    overflow: hidden;
}

.title h1 {
    font-size: 100pt;

    font-family: 'Galyon Bold Bold';
    font-weight: normal;
    
    text-transform: uppercase;

    transform-origin: 50% 50%;
}

.outer-wrapper {
    width: 100%;
    padding-left: 5%;
    overflow: hidden;
    transform: matrix(1, 0, 0, 1, 0, 0);

    -webkit-transition: $animation_time ease-in-out;
    -moz-transition: $animation_time ease-in-out;
    -o-transition: $animation_time ease-in-out;
    transition: $animation_time ease-in-out;
}

.outer-wrapper.idle {
    transform: translate(0);
}
.outer-wrapper.in {
    transform: translate(-100%);
}
.outer-wrapper.out {
    transform: translate(100%);
}
.outer-wrapper.old_out.in {
    -webkit-transition: 0ms !important; /* Move without animation */
    -moz-transition: 0ms !important;
    -o-transition: 0ms !important;
    transition: 0ms !important;

    transform: translate(-100%);
}


.inner-wrapper {
    width: 105%;
    margin-left: -5%;

    -webkit-transition: $animation_time ease-in-out;
    -moz-transition: $animation_time ease-in-out;
    -o-transition: $animation_time ease-in-out;
    transition: $animation_time ease-in-out;
}

.inner-wrapper.idle {
    transform: translate(0);
}
.inner-wrapper.in {
    transform: translate(100%);
}
.inner-wrapper.out {
    transform: translate(-100%);
}

.inner-wrapper.old_out.in {
    -webkit-transition: 0ms !important;
    -moz-transition: 0ms !important;
    -o-transition: 0ms !important;
    transition: 0ms !important;

    transform: translate(100%);
}


.title .first-title {
    margin: 0;
    position: relative;
    z-index: 111;
    white-space: nowrap;
    letter-spacing: -5px;
}

.title .second-title {
    margin: 0;
    position: absolute;
    top: 0;
    transform: translateY(50%);
    z-index: 110;
    letter-spacing: -5px;
}

h1 {
    margin: 0;
}

.title.intro h1.second-title {
    transform-origin: 50% 50%;
    transform: translate3d(0, 0, 0) scale(1, 1);
}

@keyframes slidein {
    from {
        transform: translate3d(0, 0, 0) scale(1.05, 1);
    }
  
    to {
        transform: translate3d(0, 0, 0) scale(1, 1);
    }
}

@media screen and (max-width: 800px) {
    .title h1 {
        font-size: 90px;
    }
}
  
@media screen and (max-width: 600px) {
    .title {
        left: 40px;
    }

    .title h1 {
        font-size: 80px;
    }
}

@media screen and (max-width: 400px) {
    .title {
        left: 30px;
        transform: translateY(calc(-50%));
    }

    .title h1 {
        font-size: 60px;
    }
}